{% extends "base.html" %}

{% block content %}
<html>
<head> 
<title>Manage Categories</title>
</head>

<body>
	<div class="container">
	  <h2 style="margin-bottom:5px">Manage Your Categories</h2>
      
      <div class="hero-unit">
      	<div>
      			{% if isEmpty == None %}
      			<p>Oops, no categories right now!</p>
      			{% else %}
      			<em><font size=3>{{ message }}</font></em>
      			<form method="get" action="/manageCategory">
      			<table class="table">
      			{% for cat in userCats %}
					<tr>
					   <form method="post" action="/modifyCategory?category={{ cat.category }}">
					   <td><input type='text' name='{{ cat.category }}' value='{{ cat.category }}'/></td>
					   <td><input type='submit' class="btn btn-success" value='Modify' /></td>
					   </form>
					   <form method="post" action="/deleteCategory?category={{ cat.category }}">
					   <td><input type='submit' class="btn btn-danger" value='Delete' /></td>
					   </form>
					   <td><input type='radio' name='category' value='{{ cat.category }}'/></td>
					</tr>
				{% endfor %}
            	</table>
            	<div align="right"><input type='submit' value='Manage' class="btn btn-primary"/></div>
				</form>
				{% endif %}
				
				{% if error %}
				<font color="red">{{ error }}</font>
				{% endif %}
				<form method="post" action="/addCategory">
					<font size=3>Add a New Category:  </font>
      				<input type='text' name='newCategory' placeholder="Category Name" />
					<input type='submit' value='Add'/>
				</form>

		</div>
      </div>
    </div> <!-- /container -->
</body>
</html>
{% endblock %}