{% extends "base.html" %}

{% block content %}
<html>
<head> 
<title>Head2head</title>
</head>

<body>
	<div class="container">
	  <table>
			<tr><h2 style="margin-bottom:5px">Welcome to Head2Head
			{% if not login %}
				!</h2></tr>
			<tr><h4 style="margin-bottom:30px">Please <a href="{{ url }}">login</a> first!</h4></tr>
			{% else %}
			, {{ username }}!</h2></tr>
			<tr><h4 style="margin-bottom:30px">Please select a category and vote what you like!</h4></tr>
			{% endif %}
      </table>
      
      {% if login %}
      <div class="hero-unit">
      	<div align="center">
      		<div>		
      		</div>
      			{% if category == None %}
      			<p>Oops, no categories right now!</p>
      			{% else %}
      			<form method="post" action=".">
      			<table>
      			{% for category in categories %}
					<input type='radio' name='category' value='{{ category }}'/> {{ category }}</br>
				{% endfor %}
            	</table>
				</form>
				{% endif %}
		</div>
      </div>
      {% endif %}
    </div> <!-- /container -->
</body>
</html>
{% endblock %}