{% extends "base.html" %}

{% block content %}
<html>
<head> 
<title>Head2head</title>
</head>

<body>
	<div class="container">
	  <table>
			<tr><h2 style="margin-bottom:5px">Welcome to Head2Head
			{% if not login %}
				!</h2></tr>
			<tr><h4 style="margin-bottom:30px">Please <a href="{{ url }}">login</a> first!</h4></tr>
			{% else %}
				, {{ username }}!</h2></tr>
			<tr><h4 style="margin-bottom:30px">Please select a category and vote what you like!</h4></tr>
			{% endif %}
      </table>
      
      {% if login %}
      <div class="hero-unit">
      	<div>
      		<div>		
      		</div>
      			{% if isEmpty == None %}
      			<p>Oops, no categories right now...</p>
      			<a href="/category">Add</a> a new category!
      			{% else %}
      			<form method="post" action=".">
      			<table style="margin-bottom:8px;" class="table">
      			<tr><th></th><th>Category Name</th><th>Creator</th><tr>
      			{% for category in categories %}
					<tr>
						<td><input type='radio' name='category' value='{{ category.category }}'/></td>
					    <td>{{ category.category }}</td>
					    <td>{{ category.username }}</td>
					</tr>
				{% endfor %}
				<tr><td><input type='submit' value='Select' /></td><td></td><td></td></tr>
            	</table>
            	
				</form>
				{% endif %}
		</div>
      </div>
      {% endif %}
    </div> <!-- /container -->
</body>
</html>
{% endblock %}