{% extends "base.html" %}

{% block content %}
<html>
<head> 
<title>Manage Category</title>
</head>

<body>
	<div class="container">
	  <h2 style="margin-bottom:5px">{{ category }}</h2>
      
      <div class="hero-unit">
      	<div>
      			{% if isEmpty == None %}
      			<p>Oops, no items right now!</p>
      			{% else %}
      			<em><font size=3>{{ message }}</font></em>
      			<table class="table">
      			{% for item in items %}	
					<tr>
					   <form method="post" action="/resetItem?category={{ category }}&item={{ item.item }}">
					   <td><input type='text' name='{{ item.item }}' value='{{ item.item }}'/></td>
					   <td><input type='submit' class="btn btn-success" value='Reset' /></td>
					   </form>
					   <form method="post" action="/deleteItem?category={{ category }}&item={{ item.item }}">
					   <td><input type='submit' class="btn btn-danger" value='Delete' /></td>
					   </form>
					</tr>
				{% endfor %}
            	</table>
				{% endif %}
				
				{% if error %}
				<font color="red">{{ error }}</font>
				{% endif %}
				<form method="post" action="/addItem?category={{ category }}">
      				<font size=3>Add a New Item:  </font>
      				<input type='text' name='newItem' placeholder="Item Name" />
					<input type='submit' value='Add'/>
				</form>
		</div>
		<div align="right">
		<a href="/category" class="btn btn-info">Back</a>
		</div>
      </div>
    </div> <!-- /container -->
</body>
</html>
{% endblock %}